<div *ngIf="showMemberForm; else elseTemplate">
  <div class="row medium-3 columns">
    <div class="form-group">
      <label>Name:</label>
      <input [(ngModel)]="selectedMember.name">
    </div><br>
    <div class="form-group">
      <label>Description:</label>
      <textarea rows="5" cols="50" [(ngModel)]="selectedMember.description"></textarea>
    </div><br>
    <div class="form-group">
      <label>Favorite Bird:</label>
      <input [(ngModel)]="selectedMember.favoriteBird">
    </div><br>
    <div class="form-group">
      <label>Last Bird Sighting:</label>
      <input [(ngModel)]="selectedMember.recentBirdSighting">
    </div><br>
    <div class="form-group">
      <label>Role:</label>
      <!--<input [(ngModel)]="selectedMember.role">-->
      <select name="singleSelect" [(ngModel)]="selectedMember.role">
        <option value="fan">fan</option>
        <option value="veteran">veteran</option>
        <option value="novice">novice</option>
      </select>
    </div><br>
    <div class="form-group">
      <label>Image:</label>
      <input [(ngModel)]="selectedMember.image">
    </div><br>
    <button (click)="updateMember(selectedMember)" class="button">Submit</button>
    <button (click)="cancel()" class="alert button">Cancel</button>
  </div>
</div>
<ng-template #elseTemplate>
  <button (click)="showEditMember()" class="button">Edit member</button>
  <button (click)="deleteMember(selectedMember)" class="alert button">Delete member</button>
</ng-template>
